.dock-bar {
  width: auto;
  z-index: 99;
  height: 46px;
  padding: 0 10px;
  position: absolute;
  inset: auto auto 0 50%;
  border-radius: 5px 5px 0 0;
  transform: translateX(-50%);
  background: rgba(50, 50, 50, 0.5);
  transition: 0.2s cubic-bezier(0.44, 0.14, 0.34, 0.97);
  backdrop-filter: blur(30px) saturate(1.5) brightness(0.8);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.35);
}

.dock-bar ul {
  display: flex;
}

.dock-bar .separator {
  width: 1.5px;
  height: 30px;
  align-self: start;
  position: relative;
  border-radius: 15px;
  display: inline-flex;
  margin: 8px 5px 8px 8px;
  background: rgba(255, 255, 255, 0.15);
}

.icon {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  border-radius: 12px;
  animation: 0.8s bounce ease-out;
  transition: width, height, margin-top, cubic-bezier(0.25, 1, 0.5, 1) 100ms;
}

.icon.open::after {
  width: 4px;
  height: 4px;
  content: '';
  bottom: -4px;
  position: absolute;
  border-radius: 100%;
  left: calc(50% - 2px);
  background: rgba(255, 255, 255, 0.85);
}

.icon img {
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: url('../images/pointer.png') 12 12, pointer;
}

.icon:hover .tooltip,
.icon:focus-within .tooltip {
  opacity: 1;
}

.tooltip {
  left: 50%;
  top: -25px;
  opacity: 0;
  width: auto;
  display: block;
  font-size: .8rem;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
  border-radius: 14px;
  pointer-events: none;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.58);
  transition: ease-in opacity 100ms;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 12px 8px 1px;
}

@keyframes bounce {

  0%,
  40%,
  70%,
  100% {
    box-shadow: none;
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-50px);
    box-shadow: 0 50px 15px 0 rgba(0, 0, 0, 0.25);
  }

  60% {
    transform: translateY(-25px);
    box-shadow: 0 25px 15px 0 rgba(0, 0, 0, 0.125);
  }

  90% {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.075);
  }
}

@keyframes bounceScale {

  0%,
  40%,
  70%,
  100% {
    box-shadow: none;
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-50px) scale(2.15);
    box-shadow: 0 50px 15px 0 rgba(0, 0, 0, 0.25);
  }

  60% {
    transform: translateY(-25px) scale(1.2);
    box-shadow: 0 25px 15px 0 rgba(0, 0, 0, 0.125);
  }

  90% {
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.075);
  }
}

@media only screen and (min-width: 1200px) {
  .icon:hover {
    width: 65px;
    height: 65px;
    margin-top: -25px;
  }

  .icon:hover+.icon {
    width: calc(55px + var(--dock-right, 0px));
    height: calc(55px + var(--dock-right, 0px));
    margin-top: calc(-15px + var(--dock-right, 0px) * -1);
  }

  .icon:hover+.icon+.icon {
    width: calc(45px + var(--dock-right, 0px));
    height: calc(45px + var(--dock-right, 0px));
    margin-top: calc(-5px + var(--dock-right, 0px) * -1);
  }

  .icon:has(+ .icon:hover) {
    width: calc(55px + var(--dock-left, 0px));
    height: calc(55px + var(--dock-left, 0px));
    margin-top: calc(-15px + var(--dock-left, 0px) * -1);
  }

  .icon:has(+ .icon + .icon:hover) {
    width: calc(45px + var(--dock-left, 0px));
    height: calc(45px + var(--dock-left, 0px));
    margin-top: calc(-5px + var(--dock-left, 0px) * -1);
  }
}