#root>svg {
    z-index: 1;
    position: fixed;
}

#root>svg:nth-child(1) {
    inset: 0 0 0 auto;
}

#root>svg:nth-child(2) {
    inset: auto 0 0;
}

.layout {
    inset: 0;
    display: grid;
    padding: 0 5vw;
    position: fixed;
    place-items: center;
}

.layout img {
    inset: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    position: fixed;
    object-fit: cover;
}

.layout .layout-content {
    gap: .25rem;
    width: 100%;
    display: flex;
    font-size: 1em;
    flex-flow: column;
}

.layout-content .layout-text.layout-text {
    gap: .6rem;
    display: flex;
    user-select: none;
    align-items: baseline;
}

.layout-content .layout-text:nth-child(even) {
    align-self: flex-end;
}

.layout-content .layout-text span {
    letter-spacing: -.05em;
    font: italic clamp(1.5em, 3.5vw, 5em) 'Noto Serif Display', 'serif';
}

.layout-content .layout-text h1 {
    letter-spacing: -.02em;
    text-transform: uppercase;
    line-height: .90 !important;
    font: 500 clamp(8em, 10vw, 13em) 'Inter', 'sans-serif';
}