#root>svg {
    z-index: 1;
    position: fixed;
    cursor: url('../images/arrow.png') 12.5 12.5, auto;
}

#root>svg:nth-child(1) {
    inset: 0 0 0 auto;
}

#root>svg:nth-child(2) {
    inset: auto 0 0;
}

.layout {
    inset: 0;
    display: grid;
    padding: 0 5vw;
    position: fixed;
    user-select: none;
    place-items: center;
}

.layout img {
    inset: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    position: fixed;
    object-fit: cover;
}