.menu-bar {
    top: 0;
    width: 100%;
    z-index: 99;
    height: 2rem;
    display: flex;
    font-size: 14px;
    padding: 1px 12px;
    line-height: 22px;
    position: relative;
    align-items: center;
    backdrop-filter: blur(40px);
    background-color: #3741511a;
    justify-content: space-between;
    box-shadow: 0 0 rgb(0 0 0 / 0), 0 0 rgb(0 0 0 / 0), 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
}

.menu-bar .info,
.menu-bar .stats {
    gap: 10px;
    width: 100%;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: space-between;
}

.menu-bar .info h3 {
    font-size: .88rem;
}

.menu-bar .stats {
    display: none;
    pointer-events: none;
}

.battery span {
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    background-color: currentColor;
    mask: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' display='inline-block' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M0 6a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1zm14 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8'/%3E%3C/svg%3E") no-repeat 100% / 100%;
}

.battery div {
    inset: 50% 0;
    height: .5rem;
    width: 0.3304rem;
    position: absolute;
    border-radius: 1px;
    margin: -.25rem 0 0 .125rem;
    background-color: rgb(234 179 8 / 1);
}

.battery i {
    inset: 0;
    width: 1em;
    margin: auto;
    font-size: .75rem;
    position: absolute;
    background-color: currentColor;
    transform: translate(-.125rem) scale3d(1,1,1);
    mask: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' display='inline-block' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z'/%3E%3C/svg%3E") no-repeat 100% / 100%;
}

@media only screen and (min-width: 600px) {

    .menu-bar .info,
    .menu-bar .stats {
        width: max-content;
    }

    .menu-bar .info h3 {
        font-size: .89rem;
    }

    .menu-bar .stats {
        display: flex;
    }

    .menu-bar .stats * {
        gap: 2px;
        align-items: center;
        display: inline-flex;
    }

    .menu-bar .stats span i {
        width: 26px;
        height: 12px;
        position: relative;
        border-radius: 3px;
        margin: 0 6px 0 4px;
        box-shadow: inset 0 0 0 1px white;
    }

    .menu-bar .stats span i::before {
        width: 2px;
        right: -3px;
        height: 4px;
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        background-color: white;
        border-radius: 0 100% 100% 0;
    }

    .menu-bar .stats i::after {
        left: 2px;
        height: 8px;
        content: '';
        position: absolute;
        border-radius: 1px;
        top: calc(50% - 4px);
        background-color: white;
        width: calc(var(--level, 0%) - 4px);
    }

    .menu-bar .stats i.charging svg {
        z-index: 1;
        rotate: -5deg;
        fill: white;
        stroke: black;
        position: absolute;
        inset: -5px auto auto -4px;
    }
}