.menu-bar {
    top: 0;
    width: 100%;
    z-index: 99;
    height: 30px;
    display: flex;
    padding: 1px 12px;
    position: relative;
    align-items: center;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    box-shadow: rgba(255, 255, 255, 0.17) 0px 0px 0px 1px inset;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
}

.menu-bar .info,
.menu-bar .stats {
    gap: 12px;
    width: 100%;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: space-between;
}

.menu-bar .stats {
    gap: 8px;
    display: none;
}

.menu-bar .info h3,
.menu-bar .stats span {
    font-size: .88rem;
}

@media only screen and (min-width: 600px) {
    .menu-bar .info,
    .menu-bar .stats {
        width: max-content;
    }

    .menu-bar .stats {
        display: flex;
    }

    .menu-bar .info h3 {
        font-size: 1rem;
    }
}