.chat-container {
    gap: 15px;
    width: 90%;
    height: 400px;
    padding: 10px;
    z-index: 9999;
    display: flex;
    max-width: 600px;
    overflow-y: auto;
    flex-direction: column;
}

.chat-container::before {
    inset: 0;
    width: 100%;
    content: '';
    height: 100dvh;
    position: fixed;
    animation: glowingBackground 10s infinite alternate;
    background: linear-gradient(135deg, #020024, #090979, #00d4ff), 400% / 400%;
}

.chat-container p {
    color: white;
    max-width: 60%;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 18px;
    position: relative;
    border-radius: 10px;
    display: inline-block;
    animation: popIn 0.4s ease-out;
}

.chat-container p.me {
    color: #ddd;
    align-self: end;
    background: #3c3c3c;
    animation: slideInRight 0.5s ease-out;
}

.chat-container p.speaker {
    color: #fff;
    background: #007acc;
    animation: slideInLeft 0.5s ease-out;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    80% {
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes glowingBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}