.chat-overlay {
    inset: 0;
    z-index: 9999;
    display: grid;
    position: fixed;
    place-items: center;
    background: #0d1117;
    background-size: cover;
    background-position: center;
}

.chat-overlay span {
    position: absolute;
    background: white;
    border-radius: 50%;
    animation: moveStars linear infinite;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.chat-overlay .chat-container {
    gap: 15px;
    width: 360px;
    height: 500px;
    padding: 20px;
    display: flex;
    overflow: auto;
    border-radius: 10px;
    scrollbar-width: none;
    font-family: monospace;
    flex-direction: column;
    background-color: #0d1117;
    border: 2px solid #30363d;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.chat-overlay .chat-container p {
    opacity: 0;
    max-width: 75%;
    font-size: .9rem;
    color: #e6edf3;
    padding: 10px 15px;
    position: relative;
    border-radius: 6px;
    display: inline-block;
}

.chat-overlay .chat-container p.me {
    align-self: flex-end;
    background-color: #238636;
    border-left: 3px solid #2ea043;
    animation: fadeIn 0.5s forwards, pulseGlow 2s infinite alternate;
}

.chat-overlay .chat-container p.speaker {
    align-self: flex-start;
    background-color: #161b22;
    animation: fadeIn 0.5s forwards;
    border-left: 3px solid #58a6ff;
}

.chat-overlay .chat-container .typing {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    border-right: 2px solid white;
    animation: typeWriter 1s steps(30) forwards, blink 0.7s infinite alternate;
}

@keyframes typeWriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: white;
    }

    to {
        border-color: transparent;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveStars {
    from {
        opacity: 1;
        transform: translateY(-100vh);
    }

    to {
        opacity: 0;
        transform: translateY(100vh);
    }
}

@keyframes pulseGlow {
    0% {
        text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc;
    }

    50% {
        text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
    }

    100% {
        text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc;
    }
}