.preloader {
    inset: 0;
    width: 100dvw;
    z-index: 9999;
    height: 100dvh;
    position: fixed;
    overflow: hidden;
    background-color: #090909;
    background-color: #212022;
}

.animation01,
.animation02 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.border_box {
    width: 15vw;
    height: 15vw;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

.line {
    opacity: 0;
    display: block;
    position: absolute;
    inset: auto 0 0 auto;
    background-color: #845b46;
}

.line01 {
    width: 0.15vw;
    height: 15.15vw;
    inset: 0 auto auto 100%;
    transform-origin: bottom;
    animation: animation01_line01 0.2s linear 0.3s forwards;
}

.line02 {
    width: 15.15vw;
    height: 0.15vw;
    inset: 100% auto auto 0;
    transform-origin: right;
    animation: animation01_line02 0.2s linear 0.4s forwards;
}

.line03 {
    width: 0.15vw;
    height: 15.15vw;
    inset: 0 auto auto 0;
    transform-origin: bottom;
    animation: animation01_line01 0.2s linear 0.6s forwards;
}

.line04 {
    width: 15.15vw;
    height: 0.15vw;
    inset: 0 auto auto 0;
    transform-origin: left;
    animation: animation01_line02 0.2s linear 0.8s forwards;
}

.circle {
    opacity: 0;
    width: 1.2vw;
    height: 1.2vw;
    display: block;
    position: absolute;
    border-radius: 50%;
    inset: auto 0 0 auto;
    border: 0.1vw solid #fff;
}

.circle01 {
    margin: 0 auto;
    inset: 96% auto auto 96%;
    animation: animation01_circle 0.3s linear 0.3s forwards;
}

.circle02 {
    margin: 0 auto;
    inset: 96% auto auto -99%;
    animation: animation01_circle 0.3s linear 0.45s forwards;
}

.circle03 {
    margin: 0 auto;
    inset: -4% auto auto -99%;
    animation: animation01_circle 0.3s linear 0.65s forwards;
}

.circle04 {
    margin: 0 auto;
    inset: -4% auto auto 96%;
    animation: animation01_circle 0.3s linear 0.85s forwards;
}

.wave {
    width: 13.5vw;
    height: 13.5vw;
    overflow: hidden;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

.wave_wrapper {
    width: 200%;
    height: 150%;
    margin: 0 auto;
    position: absolute;
    inset: -25% 0 0 -50%;
    animation: animation01_wave_wrapper 1s linear 1s forwards;
}

.wave_box {
    inset: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    transform-origin: bottom;
    background-color: white;
    animation: animation01_wave_box 1s linear 1s forwards;
}

.animation_line {
    opacity: 0;
    margin: 0 auto;
    position: absolute;
    inset: auto 0 0 auto;
    background-color: #fff;
}

.animation_line_wrapper {
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
}

.animation_line01 {
    width: 0.2vw;
    height: 0.7vw;
    transform-origin: top;
    inset: -15% auto auto 0;
    animation: animation_line01 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
}

.animation_line02_wrapper,
.animation_line04_wrapper,
.animation_line06_wrapper,
.animation_line08_wrapper {
    transform: rotate(45deg)
}

.animation_line02 {
    width: 0.2vw;
    height: 0.7vw;
    transform-origin: top;
    inset: -35% auto auto 0;
    animation: animation_line01 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
}

.animation_line03 {
    width: 0.7vw;
    height: 0.2vw;
    transform-origin: right;
    inset: 50% auto auto 110%;
    animation: animation_line03 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
}

.animation_line04 {
    width: 0.7vw;
    height: 0.2vw;
    transform-origin: right;
    inset: 50% auto auto 128%;
    animation: animation_line03 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
}

.animation_line05 {
    width: 0.2vw;
    height: 0.7vw;
    inset: 110% auto auto 0;
    transform-origin: bottom;
    animation: animation_line05 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
}

.animation_line06 {
    width: 0.2vw;
    height: 0.7vw;
    inset: 128% auto auto 0;
    transform-origin: bottom;
    animation: animation_line05 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
}

.animation_line07 {
    width: 0.7vw;
    height: 0.2vw;
    transform-origin: left;
    inset: 50% auto auto -130%;
    animation: animation_line07 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
}

.animation_line08 {
    width: 0.7vw;
    height: 0.2vw;
    transform-origin: left;
    inset: 50% auto auto -162%;
    animation: animation_line07 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
}

.rhombus,
.rhombus_small {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: rhombus 0.2s linear 2.2s forwards;
}

.rhombus_small {
    animation: rhombus_small 0.4s linear 2.55s forwards;
}

.rhombus_box {
    inset: 0;
    width: 40vw;
    height: 40vw;
    margin: auto;
    position: absolute;
    animation: rhombus_box 0.4s linear 3.55s forwards;
}

.rhombus_item_wrapper {
    inset: 0;
    opacity: 0;
    width: 2.1vw;
    margin: auto;
    height: 2.1vw;
    position: absolute;
}

.rhombus_item {
    inset: 0;
    margin: auto;
    width: 2.1vw;
    height: 2.1vw;
    position: absolute;
    transform: rotate(45deg);
    background-color: white;
}

.rhombus_item01_wrapper {
    animation: rhombus_item01 0.5s linear 2.95s forwards;
}

.rhombus_item02_wrapper {
    animation: rhombus_item02 0.5s linear 2.95s forwards;
}

.double_content {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

.double_wrapper02 {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: relative;
    animation: double_content forwards;
}

.double_wrapper01 {
    display: block;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
}

.dotted_right::before,
.double_wrapper01::after,
.double_wrapper01::before {
    z-index: 3;
    content: '';
    display: block;
    position: absolute;
    background: #212022;
}

.double_wrapper01::before {
    z-index: 2;
}

.dotted02 {
    top: 0;
    animation-delay: 4.2s;
}

.dotted_hide {
    z-index: 1;
    width: 31vw;
    height: 31vw;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

.dotted01 {
    z-index: 1;
    width: 30vw;
    height: 30vw;
    overflow: visible;
    inset: 50% auto auto 50%;
    border: dotted 0.5vw #fff;
    transform: translate(-50%, -50%);
}

.dotted_right::before {
    width: 32vw;
    height: 32vw;
    inset: 0 auto auto 0;
    transform-origin: left 16vw;
    animation: rotate-circle-right 0.5s linear 4.2s forwards;
}

.dotted_right {
    z-index: 1;
    width: 16vw;
    height: 32vw;
    overflow: hidden;
    position: absolute;
    inset: 50% auto auto 75%;
    transform: translate(-50%, -50%);
}

.dotted01::after {
    width: 32vw;
    height: 32vw;
    inset: -1vw auto auto -17vw;
    transform-origin: right 16vw;
    animation: rotate-circle-left01 0.5s linear 4.2s forwards;
}

.white02 {
    top: -100%;
    animation-delay: 4.7s;
}

.white01 {
    z-index: 1;
    width: 29vw;
    height: 29vw;
    background: #fff;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

.white01::before {
    width: 29vw;
    height: 29vw;
    inset: 0 auto auto 14.5vw;
    transform-origin: left 14.5vw;
    animation: rotate-circle-right 0.3s linear 4.7s forwards;

}

.white01::after {
    width: 29vw;
    height: 29vw;
    inset: 0 auto auto -14.5vw;
    transform-origin: right 14.5vw;
    animation: rotate-circle-left 0.3s linear 4.7s forwards;
}

.gray02 {
    top: -200%;
    animation-delay: 4.8s;
}

.gray01 {
    width: 8vw;
    z-index: 1;
    height: 8vw;
    background: #808184;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

.gray01::before {
    width: 8vw;
    height: 8vw;
    background: #fff;
    inset: 0 auto auto 4vw;
    transform-origin: left 4vw;
    animation: rotate-circle-right 0.5s linear 4.8s forwards;
}

.gray01::after {
    width: 8vw;
    height: 8vw;
    background: #fff;
    inset: 0 auto auto -4vw;
    transform-origin: right 4vw;
    animation: rotate-circle-left03 0.5s linear 4.8s forwards;
}

.orange02 {
    top: -300%;
    animation-delay: 5.3s;
}

.orange01 {
    z-index: 1;
    width: 27vw;
    height: 27vw;
    background: #f47141;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

.orange01::before {
    width: 27vw;
    height: 27vw;
    background: #fff;
    inset: 0 auto auto 13.5vw;
    transform-origin: left 13.5vw;
    animation: rotate-circle-right 0.5s linear 5.3s forwards;
}

.orange01::after {
    width: 27vw;
    height: 27vw;
    background: #fff;
    inset: 0 auto auto -13.5vw;
    transform-origin: right 13.5vw;
    animation: rotate-circle-left02 0.5s linear 5.3s forwards;
}

.name {
    opacity: 0;
    width: 30vw;
    height: 30vw;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    animation: name 1.0s cubic-bezier(0.165, 0.84, 0.44, 1) 5.9s forwards;
}

.name p {
    color: #fff;
    font-size: 1.7rem;
    position: absolute;
    letter-spacing: 0.1em;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name_circle01 {
    width: 2vw;
    height: 2vw;
    position: absolute;
    border-radius: 50%;
    inset: 50% auto auto 20%;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.name_circle02 {
    width: 2vw;
    height: 2vw;
    position: absolute;
    border-radius: 50%;
    inset: 50% auto auto 80%;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

@keyframes name {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes double_content {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rhombus {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(45deg)
    }
}

@keyframes rhombus_box {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes animation_line01 {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(-1.5vw);
    }
}

@keyframes animation_line03 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(1.5vw);
    }
}

@keyframes animation_line05 {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(1.5vw);
    }
}

@keyframes animation_line07 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(-1.5vw);
    }
}

@keyframes animation01_line01 {
    0% {
        opacity: 1;
        transform: scale3d(1, 0, 1);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes animation01_line02 {
    0% {
        opacity: 1;
        transform: scale3d(0, 1, 1);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes animation01_wave_box {
    0% {
        opacity: 1;
        transform: scale3d(1, 0, 1);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rhombus_item01 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(-18.5vw);
    }
}

@keyframes rhombus_item02 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(18.5vw);
    }
}

@keyframes rotate-circle-right {

    0%,
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

@keyframes animation01_circle {

    0%,
    100% {
        opacity: 1;
        transform: scale3d(0, 0, 1);
    }

    40%,
    60% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rhombus_small {
    0% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

    99% {
        opacity: 1;
        transform: scale3d(0.15, 0.15, 0.15);
    }

    100% {
        opacity: 0;
        transform: scale3d(0.15, 0.15, 0.15);
    }
}

@keyframes rotate-circle-left {
    0% {
        transform: rotate(0deg);
        background-color: #212022;
    }

    50% {
        transform: rotate(-180deg);
        background-color: #212022;
    }

    100%,
    50.01% {
        background-color: white;
        transform: rotate(-360deg);
    }
}

@keyframes rotate-circle-left01 {
    0% {
        opacity: 1;
        transform: rotate(0deg);
        background-color: #212022;
    }

    50% {
        opacity: 1;
        transform: rotate(-180deg);
        background-color: #212022;
    }

    100%,
    50.01% {
        opacity: 0;
        transform: rotate(0deg);
    }
}

@keyframes rotate-circle-left02 {
    0% {
        transform: rotate(0deg);
        background-color: white;
    }

    50% {
        transform: rotate(-180deg);
        background-color: white;
    }

    100%,
    50.01% {
        background: #f47141;
        transform: rotate(-360deg);
    }
}

@keyframes rotate-circle-left03 {
    0% {
        transform: rotate(0deg);
        background-color: white;
    }

    50% {
        background-color: white;
        transform: rotate(-180deg);
    }

    100%,
    50.01% {
        transform: rotate(-360deg);
        background-color: #808184;
    }
}

@keyframes animation01_wave_wrapper {

    0%,
    50%,
    100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(15deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}