.window {
    width: 70%;
    z-index: 1;
    height: 70%;
    opacity: .5;
    overflow: hidden;
    position: absolute;
    border-radius: 24px;
    backdrop-filter: blur(20px);
    transition: top 0.3s, left 0.3s, opacity 0.3s ease, backdrop-filter 0.3s ease;
}

.window.active {
    opacity: 1;
    z-index: 10;
}

.window.max {
    width: 100%;
    height: 100%;
    backdrop-filter: none;
    background: rgba(0, 0, 0, 0.7);
}

.window.max,
.window.max .window-outline {
    outline: none;
    border-radius: 0;
}

.glare {
    height: 1px;
    display: block;
    margin-bottom: -1px;
    background-image: linear-gradient(to right, transparent 10%, white 50%, transparent 90%);
}

.glare.inner {
    height: 2px;
    margin-bottom: -2px;
}

.window-outline {
    width: 100%;
    height: 100%;
    padding: 8px;
    position: absolute;
    border-radius: 24px;
    outline-offset: -1px;
    outline: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 8px #0006, 0 0 60px #0003, 0 30px 120px #000c;
    background-image: radial-gradient(circle farthest-side at 50% 0, #f2f2f233, #0000);
}

.window-main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 10px #0000001a, 0 0 12px #0006;
}

.window-bar,
.window.active .window-bar:hover {
    width: 100%;
    height: 40px;
    backdrop-filter: blur(10px);
    border-radius: 16px 16px 0 0;
    box-shadow: 0 10px 20px 4px #0006;
    transition: background-image 0.3s ease;
    background-image: linear-gradient(to right, #f2f2f21a, #f2f2f280 50%, #f2f2f21a);
}

.window-bar:hover {
    background-image: linear-gradient(to right, #f2f2f250, #f2f2f280 50%, #f2f2f250);
}

.window-bar .window-dots {
    gap: 12px;
    z-index: 9;
    height: 100%;
    display: flex;
    width: max-content;
    position: relative;
    align-items: center;
    padding: 0 1rem 0 2rem;
}

.window-dots .dot {
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 100px;
}

.window-dots .dot.red {
    background-color: #f46b5d;
    box-shadow: 0 0 20px 2px #f46b5d;
}

.window-dots .dot.yellow {
    background-color: #f9bd4e;
    box-shadow: 0 0 20px 2px #f9bd4e;
}

.window-dots .dot.green {
    background-color: #57c353;
    box-shadow: 0 0 20px 2px #57c353;
}

.window-content {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
    place-items: center;
    background-color: #101010b3;
}

.window:not(.active) .window-content {
    filter: blur(10px);
}

@media all and (min-width: 750px) {
    /* Adjustments for larger screens */
}