.window {
    opacity: 1;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    transform: none;
    overflow: hidden;
    position: absolute;
    pointer-events: all;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    transform-origin: center center;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.5);
    transition: all 0.1s, top 0.1s ease-in-out, left 0.1s ease-in-out, transform 0.1s ease-in-out, width 0.1s ease-in-out, height 0.1s ease-in-out, z-index 0ms, box-shadow 0ms;
}

.window::after,
.window::before,
.window.max::after,
.window.max::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: absolute;
    inset: 0 auto auto 0;
}

.window::before {
    z-index: 0;
    background: #1e1e1f;
    backdrop-filter: blur(30px) saturate(1.5);
}

.window::after {
    z-index: 99;
    pointer-events: none;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
}

.window-bar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 20px 4px #0006;
    background: rgba(30, 30, 31, 0.9);
    transition: background-image 0.3s ease;
}

.window.min,
.window-bar .window-dots {
    display: none;
}

.window-bar .window-dots,
.window-bar .window-header {
    gap: 10px;
    z-index: 9;
    height: 100%;
    display: flex;
    width: max-content;
    position: relative;
    align-items: center;
}

.window-bar .window-header {
    width: 100%;
    padding: 0 1rem;
    font-size: 0.8rem;
    justify-content: space-between;
}

.window-header .window-menu {
    width: 100%;
    height: 50px;
    inset: 50px 0;
    padding: 1rem;
    font-size: 0.8rem;
    position: absolute;
    background-color: #fff;
}

.window-content {
    gap: 1rem;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    position: relative;
    padding-bottom: 3rem;
    scrollbar-width: none;
    height: calc(100% - 40px);
    border: 1rem solid transparent;
}

.window-content::before {
    width: 80%;
    height: 80%;
    z-index: -1;
    content: '';
    position: fixed;
    translate: -50% -50%;
    inset: 50% auto auto 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='982' height='786' viewBox='0 0 982 786' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M490 401V537H348.5V401H490ZM490 785.5V676H348.5V785.5H347.5V676H206V785.5H205V676H63.5V785.5H62.5V676H0V675H62.5V538H0V537H62.5V401H0V400H62.5V258H0V257H62.5V116H0V115H62.5V0H63.5V115L205 115V0H206V115L347.5 115V0H348.5V115H490V0H491V115L627.5 115V0H628.5V115H765V0H766V115L902.5 115V0H903.5V115H982V116H903.5V257H982V258H903.5V400H982V401H903.5V537H982V538H903.5V675H982V676H903.5V785.5H902.5V676H766V785.5H765V676H628.5V785.5H627.5V676H491V785.5H490ZM902.5 675V538H766V675H902.5ZM902.5 537V401H766V537H902.5ZM902.5 400V258H766V400H902.5ZM902.5 257V116L766 116V257H902.5ZM627.5 675H491V538H627.5V675ZM765 675H628.5V538H765V675ZM348.5 675H490V538H348.5V675ZM347.5 538V675H206V538H347.5ZM205 538V675H63.5V538H205ZM765 537V401H628.5V537H765ZM765 400V258H628.5V400H765ZM765 257V116H628.5V257H765ZM347.5 401V537H206V401H347.5ZM205 401V537H63.5V401H205ZM627.5 401V537H491V401H627.5ZM627.5 116L491 116V257H627.5V116ZM627.5 258H491V400H627.5V258ZM63.5 257V116L205 116V257H63.5ZM63.5 400V258H205V400H63.5ZM206 116V257H347.5V116L206 116ZM348.5 116V257H490V116H348.5ZM206 400V258H347.5V400H206ZM348.5 258V400H490V258H348.5Z' fill='url(%23paint0_radial_1_8)' /%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_1_8' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(491 392.75) rotate(90) scale(513.25 679.989)'%3E%3Cstop stop-color='white' stop-opacity='0.2' /%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='0' /%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");
}

.window-content .glass {
    width: 100%;
    z-index: 10;
    height: 200px;
    display: grid;
    font-size: 1rem;
    position: relative;
    border-radius: 8px;
    place-items: center;
    transition: all 0.2s ease;
    backdrop-filter: blur(50px);
    background-color: #e9f7e803;
    flex: 1 1 clamp(200px, 33.333%, 350px);
    box-shadow: 0px -3px 15px 0px #ffffff40 inset;
}

@media only screen and (min-width: 600px) {
    .window {
        width: 75%;
        height: 75%;
        border-radius: 10px;
    }

    .window::after,
    .window::before {
        border-radius: 10px;
    }

    .window.active {
        z-index: 10;
        background: none;
    }

    .window.active::before {
        background: rgba(30, 30, 31, 0.75);
        box-shadow: 0 50px 80px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px black;
    }

    .window.max {
        width: 100vw;
        height: 100vh;
        outline: none;
        border-radius: 0;
        backdrop-filter: none;
        background: rgba(0, 0, 0, 0.7);
    }

    .window-bar {
        height: 40px;
        padding-left: 1.5rem;
        backdrop-filter: blur(10px);
    }

    .window-dots button {
        width: 12px;
        height: 12px;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        display: inline-block;
        background: rgba(255, 255, 255, 0.1);
    }

    .window-dots:hover button::after,
    .window-dots:hover button::before {
        background: rgba(0, 0, 0, 0.75);
    }

    .window-dots:hover button.green::after,
    .window-dots:hover button.green::before {
        background: none;
        border-color: transparent rgba(0, 0, 0, 0.75) transparent transparent;
    }

    .window-dots button::after,
    .window-dots button::before {
        content: '';
        transition: 0.1s;
        position: absolute;
    }

    .window-dots button.red::after,
    .window-dots button.red::before {
        top: 50%;
        left: 2px;
        height: 1px;
        width: calc(100% - 4px);
        transform: rotateZ(45deg);
    }

    .window-dots button.red::after {
        transform: rotateZ(-45deg);
    }

    .window-dots button.yellow::before {
        top: 50%;
        left: 2px;
        height: 1px;
        width: calc(100% - 4px);
    }

    .window-dots button.green::after,
    .window-dots button.green::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-width: 0 4px 4px 0;
    }

    .window-dots button.green::before {
        top: calc(50% - 3px);
        left: calc(50% - 1px);
    }

    .window.max .window-dots button.green::before {
        top: 50%;
        left: calc(50% - 4px);
    }

    .window.max .window-dots button.green::after {
        left: 50%;
        top: calc(50% - 4px);
    }

    .window-dots button.green::after {
        top: calc(50% - 1px);
        left: calc(50% - 3px);
        transform: rotateZ(180deg);
        transform-origin: center center;
    }

    .window.active .window-dots button.red,
    .window:not(.active) .window-dots:is(:hover) button.red {
        background-color: #ff5d5a;
    }

    .window.active .window-dots button.yellow,
    .window:not(.active) .window-dots:is(:hover) button.yellow {
        background-color: #f5c350;
    }

    .window.active .window-dots button.green,
    .window:not(.active) .window-dots:is(:hover) button.green {
        background-color: #65cd57;
    }

    .window:not(.active) .window-content {
        filter: blur(10px);
    }

    .window.max .window-content {
        padding-bottom: 2.5rem;
    }

    .window-content {
        padding-bottom: 0;
    }
}