.window {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 1rem;
    position: absolute;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
}

.glare {
    height: 1px;
    display: block;
    margin-bottom: -1px;
    background-image: linear-gradient(to right, transparent 10%, white 50%, transparent 90%);
}

.glare.inner {
    height: 2px;
    margin-bottom: -2px;
}

.window-outline {
    width: 100%;
    height: 100%;
    position: absolute;
    outline-offset: -1px;
    box-shadow: inset 0 0 8px #0006, 0 0 60px #0003, 0 30px 120px #000c;
    background-image: radial-gradient(circle farthest-side at 50% 0, #f2f2f233, #0000);
}

.window-main {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: inset 0 0 120px #0000001a, 0 0 120px #0006;
}

.window-bar,
.window.active .window-bar:hover {
    width: 100%;
    height: 40px;
    display: flex;
    overflow: hidden;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 16px 16px 0 0;
    justify-content: space-between;
    box-shadow: 0 10px 20px 4px #0006;
    transition: background-image 0.3s ease;
    background-image: linear-gradient(to right, #f2f2f21a, #f2f2f280 50%, #f2f2f21a);
}

.window-bar:hover {
    background-image: linear-gradient(to right, #f2f2f250, #f2f2f280 50%, #f2f2f250);
}

.window-bar h3 {
    font-size: 1rem;
    padding: 0 1rem 0 2rem;
}

.window-bar .close {
    width: 40px;
    height: 40px;
    border-radius: 100% 0% 0% 100% / 0% 30% 70% 100%;
}

.window-bar .close,
.window-dots .dot.red {
    background-color: #f46b5d;
    box-shadow: 0 0 20px 2px #f46b5d;
}

.window-content {
    gap: 20px;
    z-index: 1;
    width: 100%;
    display: grid;
    overflow-y: auto;
    position: relative;
    scrollbar-width: none;
    padding-bottom: 4.2rem;
    height: calc(100% - 40px);
    background-color: #121212f2;
    border: 1rem solid transparent;
    grid-template-columns: repeat(2, 1fr);
}

.window-content::before {
    z-index: 0;
    content: '';
    width: 15rem;
    height: 15rem;
    position: fixed;
    filter: blur(150px);
    translate: -50% -50%;
    border-radius: 100px;
    inset: 50% auto auto 50%;
    background-color: #57c353;
}

.window-content::after {
    width: 80%;
    height: 80%;
    z-index: -1;
    content: '';
    position: fixed;
    translate: -50% -50%;
    inset: 50% auto auto 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='982' height='786' viewBox='0 0 982 786' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M490 401V537H348.5V401H490ZM490 785.5V676H348.5V785.5H347.5V676H206V785.5H205V676H63.5V785.5H62.5V676H0V675H62.5V538H0V537H62.5V401H0V400H62.5V258H0V257H62.5V116H0V115H62.5V0H63.5V115L205 115V0H206V115L347.5 115V0H348.5V115H490V0H491V115L627.5 115V0H628.5V115H765V0H766V115L902.5 115V0H903.5V115H982V116H903.5V257H982V258H903.5V400H982V401H903.5V537H982V538H903.5V675H982V676H903.5V785.5H902.5V676H766V785.5H765V676H628.5V785.5H627.5V676H491V785.5H490ZM902.5 675V538H766V675H902.5ZM902.5 537V401H766V537H902.5ZM902.5 400V258H766V400H902.5ZM902.5 257V116L766 116V257H902.5ZM627.5 675H491V538H627.5V675ZM765 675H628.5V538H765V675ZM348.5 675H490V538H348.5V675ZM347.5 538V675H206V538H347.5ZM205 538V675H63.5V538H205ZM765 537V401H628.5V537H765ZM765 400V258H628.5V400H765ZM765 257V116H628.5V257H765ZM347.5 401V537H206V401H347.5ZM205 401V537H63.5V401H205ZM627.5 401V537H491V401H627.5ZM627.5 116L491 116V257H627.5V116ZM627.5 258H491V400H627.5V258ZM63.5 257V116L205 116V257H63.5ZM63.5 400V258H205V400H63.5ZM206 116V257H347.5V116L206 116ZM348.5 116V257H490V116H348.5ZM206 400V258H347.5V400H206ZM348.5 258V400H490V258H348.5Z' fill='url(%23paint0_radial_1_8)' /%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_1_8' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(491 392.75) rotate(90) scale(513.25 679.989)'%3E%3Cstop stop-color='white' stop-opacity='0.2' /%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='0' /%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");
}

.window-content .glass {
    width: 100%;
    z-index: 10;
    height: 200px;
    display: grid;
    font-size: 1rem;
    position: relative;
    place-items: center;
    border-radius: 13px;
    transition: all 0.2s ease;
    backdrop-filter: blur(50px);
    background-color: #e9f7e803;
    box-shadow: 0px -3px 15px 0px #ffffff40 inset;
}

@media only screen and (min-width: 1200px) {
    .window {
        width: 75%;
        padding: 0;
        height: 75%;
        opacity: .7;
        border-radius: 24px;
        backdrop-filter: blur(20px);
    }

    .window.active {
        opacity: 1;
        z-index: 10;
    }

    .window.max {
        width: 100%;
        height: 100%;
        backdrop-filter: none;
        background: rgba(0, 0, 0, 0.7);
    }

    .window.max,
    .window.max .window-outline {
        outline: none;
        border-radius: 0;
    }

    .window-outline {
        padding: 8px;
        border-radius: 24px;
        outline: 1px solid rgba(255, 255, 255, 0.2);
    }

    .window-main {
        overflow: hidden;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .window-bar .window-dots {
        gap: 12px;
        z-index: 9;
        height: 100%;
        display: flex;
        width: max-content;
        position: relative;
        align-items: center;
        padding: 0 1rem 0 2rem;
    }

    .window-dots .dot {
        width: 12px;
        height: 12px;
        display: block;
        border-radius: 100px;
    }

    .window-dots .dot.yellow {
        background-color: #f9bd4e;
        box-shadow: 0 0 20px 2px #f9bd4e;
    }

    .window-dots .dot.green {
        background-color: #57c353;
        box-shadow: 0 0 20px 2px #57c353;
    }

    .window:not(.active) .window-content {
        filter: blur(10px);
    }

    .window-content {
        padding-bottom: 2.6rem;
    }
}