@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all .5s ease;
  cursor: url('./assets/images/arrow.png') 12.5 12.5, auto;
}

::selection {
  background-color: #090909;
  color: rgba(255, 255, 255, 0.87);
}

.loading {
  cursor: url('./assets/images/loading.png') 12.5 12.5, wait;
}

a,
svg,
label,
button {
  cursor: url('./assets/images/pointer.png') 12.5 12.5, pointer;
}

body {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  line-height: 1.2;
  position: relative;
  color-scheme: light dark;
  background-color: #090909;
  color: rgba(255, 255, 255, 0.87);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: 400 1vw 'Comic Neue', 'system-ui', 'Helvetica', 'Arial', 'sans-serif';
}

main,
#root {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}