* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: url('./assets/icons/default.png') 12.5 12.5, auto;
}

::selection {
    background-color: #090909;
    color: rgba(255, 255, 255, 0.87);
}

.loading {
    cursor: url('./assets/icons/busy.png') 12.5 12.5, wait;
}

a,
label,
button {
    cursor: url('./assets/icons/pointer.png') 12.5 12.5, pointer;
}

body {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    position: relative;
    line-height: 1.2 !important;
    color: rgba(255, 255, 255, 0.87);
    ;
    font: 400 1vw 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: 400 1vw -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

main,
#root {
    height: 100%;
    position: relative;
}